.main{margin:auto;text-align:center}
.three{position:absolute;margin:1% 0px 0px 35%;}
.arrow{width:30px}
.body{display:block;padding-bottom:50px}
.profile{margin-top:60px}
.at{margin:20px 0px 40px 0px;font-size:25px}
.logo{cursor:pointer;width:100px}
.link{cursor:pointer;background-color:rgb(230, 227, 227);height:80px;margin:20px 15% 20px 15%;line-height:80px;border-radius:5px}
.link:hover{background-color:rgb(203, 203, 203)}
.links{text-decoration:none;color:black;font-size:20px}
.brand1{display:flex;justify-content:center;margin:10px 0px 30px 0px;gap:20px}
.brand2{display:flex;justify-content:center;flex-wrap:wrap;margin-top:30px}
.logo1{cursor:pointer;height:40px}
.logo2{cursor:pointer;height:60px;margin:5px 50px 0px 50px}

.contactbody{display:block;margin:60px 15% 20px 15%;}
.form-group{display:block}
.l{font-size:12px;font-weight:bold}
.names{display:flex;justify-content:space-between;gap:5%}
.fdiv{width:100%;margin-top:-10px}
.email,textarea,.fname{width:100%;box-sizing:border-box;padding:8px 0px 8px 8px;border-color:rgb(183, 176, 176);border-radius:5px;margin-bottom:7px;}
textarea{margin-bottom:10px;height:50px}
.checkbox{font-size:12px;}
.button{width:100%;background-color:rgb(13, 13, 199);color:white;cursor:pointer;font-weight:bold;padding:8px;border-color:none;border-radius:5px;margin:10px 0px 0px 0px}
.button:hover{background-color:rgb(3, 3, 119)}

@media all and (max-width:450px){
    .at{margin:10px 0px 20px 0px;font-size:20px}
    .link{margin:20px 5% 20px 5%;height:60px;line-height:60px}
    .links{font-size:15px}
    .logo{width:50px}
    .logo2{margin:5px 5% 0px 5%}
    #long{line-height:60px;font-size:13px}

    .contactbody{display:block;margin:60px 4% 20px 4%;}  
    .names{display:block;gap:20px}
    .names div{margin-top:2px}
    .contactMe{font-size:25px;margin-top:-20px}
}